


<body>

  <app-header></app-header>


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <h1>Welcome {{ user.firstname }} {{ user.lastname }}</h1>
            <span>We are over 20 years of experience</span>
   
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                      <form (ngSubmit)="onSubmit()" class="contact-form">
  
                          <div class="form-group">
                              <label for="description">Description:</label>
                              <textarea id="description" name="description" [(ngModel)]="reclamation.description"
                                  class="form-control" required></textarea>
                          </div>
  
  
                          <div class="form-group">
                              <label for="statutReclamation">Statut Reclamation:</label>
                              <select id="statutReclamation" name="statutReclamation"
                                  [(ngModel)]="reclamation.statutReclamation" class="form-control" required disabled>
                                  <option value="EN_ATTENTE">En Attente</option>
                              </select>
                          </div>
  
                          <div class="form-group">
                              <label for="id">Identifiant:</label>
                              <input type="number" id="id" name="id" [(ngModel)]="reclamation.iduser"
                                  class="form-control" required>
                          </div>
  
                          <div class="text-center">
                              <button type="submit" class="btn btn-danger btn-details ml-2">Submit</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
  






</body>









