<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>TypeStage</th>
          <th>Description</th>
          <th>NbStagiaire</th>
          <th>Competence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stage of stages | async">
          <td>
            <input type="text" [ngModel]="stage.typeStage" (ngModelChange)="updateStage(stage, 'typeStage', $event)">
          </td>
          <td>
            <input type="text" [ngModel]="stage.description" (ngModelChange)="updateStage(stage, 'description', $event)">
          </td>
          <td>
            <input type="text" [ngModel]="stage.nbStagiaire" (ngModelChange)="updateStage(stage, 'nbStagiaire', $event)">
          </td>
          <td>
            <input type="text" [ngModel]="stage.competence" (ngModelChange)="updateStage(stage, 'competence', $event)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>