<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/accueil">
                <h2>Esprit Stage </h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-lg" routerLink="/accueil" routerLinkActive="active">Accueil </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-lg" routerLink="/apropos" routerLinkActive="active">À propos</a>
                    </li>
                    <li class="nav-item" *ngIf="user.role === 'ADMIN' || user.role === 'SERVICESTAGE'"
                        routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/inscription" routerLinkActive="active">Créer un
                            utilisateur</a>
                    </li>
                    <li class="nav-item" *ngIf="user.role === 'ADMIN' || user.role === 'SERVICESTAGE'"
                        routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/administration" routerLinkActive="active">Admin</a>
                    </li>
                    <li class="nav-item" *ngIf="user.role === 'ADMIN' || user.role === 'SERVICESTAGE'"
                        routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/reclamation" routerLinkActive="active">Réclamation</a>
                    </li>

                    <li class="nav-item" *ngIf="user.role === 'STUDENT'" routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/chat" routerLinkActive="active">Chat</a>
                    </li>
                    <li class="nav-item" *ngIf="user.role === 'ADMIN' || user.role === 'SERVICESTAGE'"
                        routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/reclamation-form" routerLinkActive="active">Ajouter
                            Réclamation </a>
                    </li>
                    <!-- Utiliser *ngIf pour afficher le lien uniquement pour l'utilisateur avec le rôle "student" -->
                    <li class="nav-item" *ngIf="user.role === 'STUDENT'" routerLinkActive="active">
                        <a class="nav-link btn btn-lg" routerLink="/student-form" routerLinkActive="active">Ajouter
                            Réclamation</a>
                    </li>
                    <li class="nav-item">
                        <!-- Redimensionner le bouton "Logout" en fonction de vos besoins -->
                        <button class="btn btn-danger btn-lg" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
