<body>

  <!-- ***** Preloader Start ***** -->

  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <ul class="left-info">
            <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>090-080-0760</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="right-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/accueil"><h2>Esprit Stage </h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/accueil">Accueil

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/apropos">A propos</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/reclamation">Reclamation </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reclamation-form">Ajouter Reclamation </a>
            </li>
            
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Reclamation Table</h1>
          <span>We are over 20 years of experience</span>
        </div>
      </div>
    </div>
  </div>
 
  
  

  <!-- reclamation.component.html -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <label for="statutFilter">Filter by Statut:</label>
        <select id="statutFilter" class="form-control" [(ngModel)]="selectedStatut" (change)="filterByStatut($event)">
          <option value="" selected>All</option>
          <option *ngFor="let statut of statutValues" [value]="statut">{{ statut }}</option>
        </select>
      </div>
    </div>
  
    <div class="table-responsive mt-4">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Statut Reclamation</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ReclamationItem of reclamationArray">
            <th scope="row">{{ ReclamationItem.idReclamation }}</th>
            <td>{{ ReclamationItem.dateCreation | date: 'short' }}</td>
            <td>{{ ReclamationItem.description }}</td>
            <td>
              <span [ngClass]="{'badge badge-info': ReclamationItem.statutReclamation === 'EN_ATTENTE',
                                'badge badge-warning': ReclamationItem.statutReclamation === 'EN_COURS',
                                'badge badge-success': ReclamationItem.statutReclamation === 'RESOLUE'}">
                {{ ReclamationItem.statutReclamation }}
              </span>
            </td>
            <td>{{ ReclamationItem.firstname }}</td>
            <td>{{ ReclamationItem.lastname }}</td>
            <td>{{ ReclamationItem.email }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-details"
                (click)="getDetail(ReclamationItem.idReclamation)">Details</button>
              <button type="button" class="btn btn-danger btn-details ml-2"
                (click)="deleteReclamation(ReclamationItem.idReclamation)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Pagination -->
    <nav aria-label="..." *ngIf="reclamationArray && reclamationArray.length > 0">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)="setPreviousPage($event)">Previous</a></li>
        <li class="page-item" *ngFor="let p of pages; let i = index" [ngClass]="{'active': i === page}">
          <a class="page-link" href="" (click)="setPage(i, $event)">{{ i + 1 }}</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="setNextPage($event)">Next</a></li>
      </ul>
    </nav>
  </div>
</body>  