<div class="col-md-7 d-flex flex-center">
    <div class="p-4 p-md-5 flex-grow-1" *ngIf="!mailSent">
      <div class="text-center text-md-start">
        <h4 class="mb-0"> Forgot your password?</h4>
        <p class="mb-4">Enter your email and we'll send you a reset link.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md">
          <form class="mb-3" #f="ngForm" (ngSubmit)="submit(f.value)">
            <input class="form-control" type="email" placeholder="Email address" name="email" ngModel />
            <div class="mb-3"></div>
            
            <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
              <span *ngIf="!showSpinner">Send reset link</span>
              <div *ngIf="showSpinner">
                <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </div>
            </button>
            <br><br>

            <button class="btn btn-success " (click)="redirectToLoginPage()">Login</button>
          </form>
          <br>
          <div class="alert alert-danger" role="alert" *ngIf="showAlert">{{message}}</div>
        </div>
      </div>
    </div>
    <div class="p-4 p-md-5 flex-grow-1" *ngIf="mailSent">
      <div class="text-center text-md-start">
        <h4 class="mb-0"> Forgot your password?</h4>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md">
          <div>
            Please check your emails and click on the reset password link.
          </div>
          <br>
          <div>
            The email may take a few minutes to appear. Don't forget to check your spam emails!
          </div>
          
        </div>
      </div>
      
    </div>
