<body>

  <!-- ***** Preloader Start ***** -->

  <!-- ***** Preloader End ***** -->
<app-header></app-header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
     
      <!-- // Item -->
      <!-- Item -->
      <div class="item item-3">
        <div class="img-fill">
          <div class="text-content">
            <h6>A propos de nous </h6>
            <h4>Esprit stage</h4>
            <p>ce site a ete cree par le groupe yaz 4SAE3 </p>
            <a href="about.html" class="filled-button">a propos de nous </a>
          </div>
        </div>
      </div>
      <!-- // Item -->
    </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="request-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>vous avez besoin d'information ?</h4>
          <span>pour plus d'information contacter nous.</span>
        </div>
        <div class="col-md-4">
          <a href="contact.html" class="border-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>offre <em>des stages</em></h2>
            <span>des entreprises qui offre des stages pour tout les niveaux et pour toute les specialités</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_01.jpg" alt="">
            <div class="down-content">
              <h4>Digital Currency</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
              </p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_02.jpg" alt="">
            <div class="down-content">
              <h4>Market Analysis</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
              </p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_03.jpg" alt="">
            <div class="down-content">
              <h4>Historical Data</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.
              </p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>Esprit stage </span>
            <h2>Notre solution </h2>
            <p>
              Solution pour le projet de gestion des services de stages

              Objectif

            <p> L'objectif de ce projet est de mettre en place une plateforme de gestion des services <br><br> de stages
              qui permette aux entreprises et aux étudiants de trouver des stages adaptés à leurs besoins.
            </p>
            <a href="about.html" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">945</div>
                <div class="count-title">offre de stage </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">1280</div>
                <div class="count-title">Etudiant inscrit </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">578</div>
                <div class="count-title">Entreprise</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">7</div>
                <div class="count-title">pays</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/more-info.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Notre platforme</span>
                  <h2>A propos <em>de platforme</em></h2>
                  <p> Notre plateforme permettre aux entreprises de publier des offres de stages, aux étudiants de les
                    consulter et de postuler.</p>
                  <a href="about.html" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Vous êtes <em>étudiant</em></h2>
            <span>Votre information en accès libre</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-testimonials owl-carousel">

            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Madame nadia </h4>
                <span>Responsable de stage a Esprit</span>
                <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo
                  sem sit amet quam. Pellentesque in sagittis lacus."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>

            <div class="testimonial-item">
              <div class="inner-content">
                <h4>John Smith</h4>
                <span>Chef de departement </span>
                <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan,
                  arcu id ornare malesuada, est nulla luctus nisi."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Contactez<em>Nous</em></h2>
            <span>Pour plus d'information Contactez nous </span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*"
                      placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject"
                      required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                      required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>




</body>